<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User details</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/adminStyle.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div id="GM5wrapper">
		<header th:replace="header.html :: navigation">
			<!-- (view='', myWishlists=null, thisWishlistId=null) -->
		</header>
		<main>
			<h1>Wish details</h1>
			<form action="#" th:action="@{/admin/upsert_wish}"
				th:object="${wish}" method="post">
				<table>
					<tr>
						<td><label for="id">ID: </label><input th:field="*{id}" type="hidden"></td>
						<td><span th:text="*{id}">ID: </span></td>
					</tr>
					<tr>
						<td><label for="title">Title:</label></td>
						<td><input th:field="*{title}" type="text"></td>
					</tr>
					<tr>
						<td><label for="description">Description:</label></td>
						<td><input th:field="*{description}" type="text"></td>
					</tr>
					<tr>
						<td><label for="image">Image:</label></td>
						<td><input th:field="*{image}" type="text"></td>
					</tr>
					<!-- not used right now
					<tr>
						<td><label for="item">Item:</label></td>
						<td><input th:field="*{item}" type="text"></td>
					</tr>
					 -->
					<tr>
						<td><label for="link">link:</label></td>
						<td><input th:field="*{link}" type="text"></td>
					</tr>
					<tr>
						<td><label for="price">Price:</label></td>
						<td><input th:field="*{price}" step="0.01" placeholder="0.00"
							min="0" type="number"></td>
					</tr>
					<tr>
						<td><label for="giverId">GiverID:</label></td>
						<td><input th:field="*{giver.id}" type="text"></td>
					</tr>
					<tr>
						<td><label for="wishlistId">Wishlist ID:</label><input th:field="*{wishlist.id}" type="hidden"></td>
						<td th:text="*{wishlist.id}">WishlistID</td>
					</tr>
					<tr>
						<td><label for="createDate">Create Date: </label></td>
						<td><span th:text="*{createDate}">Create Date</span></td>
					</tr>
					<tr>
						<td><label for="modifyDate">Modify Date: </label></td>
						<td><span th:text="*{modifyDate}">Modify Date: </span></td>
					</tr>
				</table>
				<input type="submit" value="Save"> <input type="reset"
					value="Reset" />
			</form>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>