<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User details</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/adminStyle.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div id="GM5wrapper">
		<header th:replace="header.html :: navigation(view='')">	
		</header>
		<main>
			<h1>User details</h1>
			<form action="#" th:action="@{/admin/upsert_user}"
				th:object="${user}" method="post">
				<input th:field="*{id}" type="hidden"> 
				<input th:field="*{role}" type="hidden">
				<!-- todo dropdown menu with existing roles, predefined role selected/active -->
				<label for="role">Role: </label>
				<span th:text="*{role}">Role</span><br>
				<label for="firstname">First Name:</label>
				<input th:field="*{firstname}" type="text"> <br><br>
				<label for="lastname">Last Name:</label> <input
					th:field="*{lastname}" type="text"> <br><br> 
				<label for="login">Login</label> 
				<input th:field="*{login}" required type="text"> <br> <br> 
				<label for="password">Password</label>
				<input th:field="*{password}" required type="text"> <br> <br> 
				<label for="email">E-Mail</label>
				<input th:field="*{email}" type="email"> <br> <br> 
				<label for="failedLogins">Failed Login</label>
				<input th:field="*{failedLogins}" required type="number" value="0"> <br>
				<label for="createDate">Create Date: </label>
				<span th:text="*{createDate}">Create Date</span><br>
				<label for="modifyDate">Modify Date: </label>
				<span th:text="*{modifyDate}">Modify Date: </span><br>
				<br> <br> 
				<input type="submit"
					value="Save"> <input type="reset" value="Reset" />
			</form>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>