<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User details</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/adminStyle.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div id="GM5wrapper">
		<header
			th:replace="header.html :: navigation(view='', myWishlists=null, thisWishlistId=null)">
		</header>
		<main>
			<h1>User details</h1>
			<form action="#" th:action="@{/admin/upsert_user}"
				th:object="${user}" method="post">
				<table>
					<tr>
						
						<td><label for="id">ID: </label></td>
						<td><span th:text="*{id}">ID: </span><input th:field="*{id}" type="hidden"></td>
					</tr>
					<tr>
						
						<!-- todo dropdown menu with existing roles, predefined role selected/active -->
						<td><label for="role">Role: </label><input th:field="*{role}" type="hidden"></td>
						<td th:text="*{role}">Role</td>
						<!-- <td> <select class="form-control" th:field="${operator.opeId}"  id="dropOperator">
					    <option value="0">select operator</option>
					    <option th:each="role : ${roles}" th:value="a" th:text="a"></option>
					    </select></td> 
					    -->

					</tr>
					<tr>
						<td><label for="firstname">First Name:</label></td>
						<td><input th:field="*{firstname}" type="text"></td>
					</tr>
					<tr>
						<td><label for="lastname">Last Name:</label></td>
						<td><input th:field="*{lastname}" type="text"></td>
					</tr>
					<!-- no login, use email 
					<tr>
						<td><label for="login">Login</label></td>
						<td><input th:field="*{login}" required type="text"></td>
					</tr>
					 -->
					<!-- do not show pw, but take a new pw
					<tr>
						<td><label for="password">Password (hidden)</label></td>
						<td><input th:field="*{password}" type="password"></td>
					</tr>
					-->
					<!-- PW with PW-Confirm, required must be set -->
					<tr>
						<td>Password / PW-Confirm:</td>
						<td><input th:value=*{password} id="password" name="password" type="password"
							onchange="if(this.checkValidity()) form.password_two.pattern = this.value;"
							placeholder="Password" required="required"> <input th:value=*{password} id="password_two"
							name="password_two" type="password"
							onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
							placeholder="Verify Password" required="required"> 
						<!-- 		
						<input name="password" type="password" id="password"
							th:value=*{password} required="required" /> <input
							name="password_confirm" required="required" type="password"
							id="password_confirm" oninput="check(this)" th:value=*{password} />
							<script language='javascript' type='text/javascript'>
								function check(input) {
									if (input.value != document
											.getElementById('password').value) {
										input
												.setCustomValidity('Password Must be Matching.');
									} else {
										// input is valid -- reset the error message
										input.setCustomValidity('');
									}
								}
							</script>
							-->
						</td>
					</tr>

					<!-- PW Pattern Checker
					<tr>
						<td>Password / PW-Confirm:</td>
						<td><input id="password" name="password" type="password"
							pattern="^\S{6,}$"
							onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;"
							placeholder="Password"> <input id="password_two"
							name="password_two" type="password" pattern="^\S{6,}$"
							onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
							placeholder="Verify Password"> </td>
					</tr>
					-->
					<tr>
						<td><label for="email">E-Mail</label></td>
						<td><input th:field="*{email}" type="email"></td>
					</tr>
					<tr>
						<td><label for="failedLogins">Failed Login</label></td>
						<td><input th:field="*{failedLogins}" required type="number"
							value="0"></td>
					</tr>
					<tr>
						<td><label for="createDate">Create Date: </label></td>
						<td><span th:text="*{createDate}">Create Date</span></td>
					</tr>
					<tr>
						<td><label for="modifyDate">Modify Date: </label></td>
						<td><span th:text="*{modifyDate}">Modify Date: </span></td>
					</tr>
				</table>
				<input type="submit" value="Save"> <input type="reset"
					value="Reset" />
			</form>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>