<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gift Me Five - admin view user</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/adminStyle.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div id="GM5wrapper">
		<header th:replace="header.html :: navigation(view='', myWishlists=null, thisWishlistId=null)">	
		</header>
		<main>
			<h1>Admin view - User</h1>
			<section>
				<table border="1">
					<tr>
						<th>ID</th>
						<th>Role</th>
						<th>First Name</th>
						<th>Last Name</th>
						<!-- no login, use email
						<th>Login</th>
						 -->
						<th>E-Mail</th>
						<th>Last Login</th>
						<th>Failed Logins</th>
						<th>Create Date</th>
						<th>Modify Date</th>
					</tr>
					<tr th:each="user : ${users}" th:object="${user}">
						<td th:text="*{id}">ID</td>
						<td th:text="*{role}">Role</td>
						<td th:text="*{firstname}">First Name</td>
						<td th:text="*{lastname}">Last Name</td>
						<!-- no login, use email
						<td th:text="*{login}">Login</td>
						 -->
						<td th:text="*{email}">E-Mail</td>
						<td th:text="*{lastLogin}">Last Login</td>
						<td th:text="*{failedLogins}">Failed Logins</td>
						<td th:text="*{createDate}">Create Date</td>
						<td th:text="*{modifyDate}">Modify Date</td>
						<td><a th:href="@{'/admin/edit_user/' + *{id}}">Edit</a> <a
							th:href="@{'/admin/delete_user/' + *{id}}">Delete</a></td>
					</tr>
				</table>
			</section>

			<section>
				<br> <a th:href="@{'/admin/new_user/'}">New user</a><br> <a
					th:href="@{/}">Home</a>
			</section>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>

