

#friends_wish_list {
	/*
 	min-width: 20em;
 	*/	
 	max-width: max-content;
 	margin-right: auto;
 	padding: 10px;
}

#friends_wish_list div{
	background-color: #cfe7f57a;
	border-color: #c8d6e4;	
	border-radius: 10px;
	border-style: solid;
	margin: 10px;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

li.selected .description {
	opacity: 50%;
}

#friend_wish_list_details li, h1 {
	background-color: #e2f2ff;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
}

#friend_wish_list_details li {
	padding-left: 10px;
	display: block ruby;
}

#friend_wish_list_details h1 {
	font-size: 180%;
}

#friend_wish_list_details h2 {
	font-size: 150%;
}

#friend_wish_list_details {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
    background-color: #f1f5ff;
    background-image: url(../pics/christmas-2946698_1920_mod.png);
    background-repeat: no-repeat;
    background-size: 30% 30%;
    border-color: #c8d6e4;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    width: max-content;
    padding-left: 7%;
    padding-top: 35px;
    padding-right: 5%;
    padding-bottom: 35px;    
	font-family: "Chilanka" !important;
}

#friend_wish_list_details ul {
	display: flex;
	flex-direction: column;
}

#friend_wish_list_details .description {
	margin: 10px;
}

.input-group-text {
	background-color: #d9e8fb;
}

img {
	width: 100px;
}