
body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
}


#GM5centralpic {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../pics/gift_me_five.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-basis: 45%;
}
#GM5centralpic h1 {
		font-size:400%;
		font-family: monospace;
		text-align: center;
		color: #27277d;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #27277d;
	flex-basis: 55%;
}

p {
	font-weight: bold;
	color: white; /* #cfe7f5 */
	text-align: justify;
	max-width: 30em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
}

@media only screen and (min-width: 600px) {
     section {
     flex-direction: row;
     }	
}

@media only screen and (min-width: 900px) {
     p, .btn {
     font-size: 130%;
     }	
}