img {
	width: 100px;
}

.GM5button {
	background-color: #3583d7;
	margin: 7px;
	width: max-content;
	padding: 7px;
}

.GM5button_holder {
	display: flex;
}

.GM5icon {
	width: 25px;
}

#wishlist_control {
	width: max-content;
	background-color: #e3eaf0;
	border-color: #c8d6e4;
	border-style: solid;
	border-radius: 6px;
	padding: 0.5%;
	position: fixed;
	bottom: 30%;
	left: 1%
}

#wishlist_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	border-color: #c8d6e4;
	border-style: solid;
	border-radius: 6px;
	padding-top: 10px;
	padding-bottom: 50px;
	font-family: "Chilanka" !important;
	font-weight: 500;
}

@media ( min-width : 500px) {
	main {
		flex-direction: row;
		justify-content: center;
	}
	#wishlist_details {
		margin-left: 80px;
		flex-grow: 1;
	}
	div.GM5spacerLeft {
		flex-grow: 2;
		min-width: 20px;
	}
	div.GM5spacerRight {
		flex-grow: 5;
		min-width: 20px;
	}
}

.GM5wishlistElement {
	background-color: rgba(226, 242, 255, 0.8);
	border-radius: 10px;
	width: 90%;
	margin: 10px auto;
	padding: 3%;
}

.GM5wishlistTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li.GM5wishlistElement {
	width: 95%;
	margin-right: 5%
}

.GM5wishlistElement h1 {
	font-size: 180%;
}

.GM5wishlistElement h2 {
	font-size: 150%;
}

.GM5wishlistElement h3 {
	font-size: 120%;
	font-weight: bold;
}

.GM5wishlistElement ul {
	display: flex;
	flex-direction: column;
	padding-left: 1%;
}

/*
.input-group-text {
	background-color: #d9e8fb;
	flex-direction: column;
    justify-content: space-evenly;
}
*/