@charset "UTF-8";

@media ( max-width : 991px) { /* adjust menu for better reading */
	.navbar-collapse {
		z-index: 1;
		overflow: hidden; /* no scrolling bar while opening hamburger */
	}
	.navbar-nav {
		border-color: #c8d6e4;
		border-radius: 25px;
		border-style: solid;
		border-width: 1px;
		background-color: #cfe7f5 !important;
		padding: 0px 10px 10px 10px;
		margin: 10px;
		width: max-content;
		height: max-content;
    	position: absolute;
    	top: 0;
    	left: 75px;
    	width: max-content;
	}
}

.bg-light {
		background-color: transparent !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

header, footer {
	display: flex;
	justify-content: space-between;
	background-color: #cfe7f5;
	padding: 10px;
	height: 50px;
	left: 0;
	right: 0;
}

header {
	margin-top: 10px;
}

header img {
	height: 35px;
	width: 35px;
}

header ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.login_frame {
	height: max-content;
	background-color: transparent;
	color: black;
}
main {
	padding-bottom: 60px;
	/*
	background-image: url("../pics/gift-548290_1920.jpg");
	*/
	background-image: url("../pics/gift-leftside.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
}

#friends_wish_list {
 	min-width: 350px;
 	max-width: 350px;	
 	margin-right: auto;
}

#friends_wish_list div{
	border-color: #c8d6e4;	
	border-style: solid;
	margin: 10px;
	background-color: #cfe7f57a;
}

#friend_wish_list_details li {
	background-color: #e2f2ff;
	margin: 15px;
}

#friend_wish_list_details {
    border-color: #c8d6e4;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    background-color: #f1f5ff;
    margin: 10px;
    width: max-content;
    min-width: 60%;
    background-image: url(../pics/christmas-2946698_1920_mod.png);
    background-size: 30% 30%;
    background-repeat: no-repeat;
    padding-left: 100px;
    padding-top: 35px;
    padding-right: 40px;
    padding-bottom: 35px;
}

#friend_wish_list_details ul {
	line-height: 1em;
}

footer {
	position: absolute;
	bottom: 0;
}

img {
	width: 100px;
}