@charset "UTF-8";

@media ( max-width : 991px) { /* adjust menu for better reading */
	.navbar-collapse {
		z-index: 1;
		overflow: hidden; /* no scrolling bar while opening hamburger */
	}
	.navbar-nav {
		border-color: #c8d6e4;
		border-radius: 25px;
		border-style: solid;
		border-width: 1px;
		background-color: #cfe7f5 !important;
		padding: 0px 10px 10px 10px;
		margin: 10px;
		width: max-content;
		height: max-content;
    	position: absolute;
    	top: 0;
    	left: 75px;
    	width: max-content;
	}
}

.bg-light {
		background-color: transparent !important;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#GM5wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
}

header, footer {
	display: flex;
	justify-content: space-between;
	background-color: #c3dff0;
	padding: 10px;
	height: 50px;
	left: 0;
	right: 0;
	flex-grow: 0;
}

header {
	height: 60px;
	margin-top: 5px;
}

header img {
	height: 30px;
	width: 30px;
}

header ul, section ul {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style-type: none;
}

.GM5login_frame {
	height: max-content;
	background-color: transparent;
	color: black;
}
main {
	padding-bottom: 60px;
	/*
	background-image: url("../pics/gift-548290_1920.jpg");
	*/
	background-image: url("../pics/gift-leftside.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

footer {
	position: absolute;
	bottom: 0;
}

img {
	width: 100px;
}

.GM5button {
	font-family: Arial;
	margin: auto;
	width: 5em;
}

.selected .GM5button {
	background-color: #0edd3c;
	border-color: #1dee44;
	padding: 5px;
}
