#theme_grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#theme_grid label {
	padding: 5px;
}

#theme_grid input {
	display: none;
}

#theme_grid input:checked + label {
	background-color: blue;
}

#theme_grid input {
	margin: auto;
}

#wishlist_control {
	min-width: 15em;
	background-color: #cfe7f57a;
	border-color: #c8d6e4;
	border-radius: 10px;
	border-style: solid;
	margin: auto;
	padding: 0.5em 0.5em;
}