main {
	flex-direction: row;
	justify-content: center;
}

div.GM5spacer {
	flex-growth: 1;
	flex-shrink: 0;
}

main section {
	background-color: #cfe7f57a;
	border-color: #c8d6e4;
	border-radius: 10px;
	border-style: solid;
	padding: 1em;
	flex-basis: 46em;
	flex-shrink: 1;
	flex-growth: 0;
}

main div {
	min-width: 100%;
}

main h1 {
	font-size: 180%
}

.GM5input {
	min-width: 100%;
}

.btn {
	margin-right: 2em;
}
}