main {
	flex-direction: row;
	flex-basis: 500px
	
}
#theme_grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#theme_grid > div {
	width: 30%;
}

#theme_grid input {
	display: none;
}

#theme_grid input:checked + label {
	border-color: blue;
	border-style: solid;
	border-width: 4px;

}

#theme_grid input {
	margin: auto;
}


.theme_img {
	width:100%;
}


#wishlist_control {
	min-width: 15em;
	background-color: #cfe7f57a;
	border-color: #c8d6e4;
	border-radius: 10px;
	border-style: solid;
	margin: auto;
	padding: 0.5em 0.5em;
}