<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gift Me Five</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="wrapper">
		<header th:replace="header.html :: header">Header</header>
		<main>
		<section id="friends_wish_list">
			<div>
				<strong>My Friend's Wishes</strong>
				<ul>
					<li><a href="#">Ben's Xmas</a></li>
					<li><a href="#">Jon's Work Anniversary</a></li>
					<li><a href="#">Jenny's Silver Wedding</a></li>
				</ul>
			</div>
			<div>
				<p>
					Check a checkbox and click ‘Select’ to reserve an item you want to
					give to your friend.<br> Items displayed in gray font have
					already been selected by other people!
				</p>
			</div>
		</section>
		<section id="friend_wish_list_details">
			<h1>My Christmas Wishes</h1>
			<ul>
				<li th:each="wish : ${wishes}" th:object="${wish}">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<button type="button" class="btn btn-success">Pick</button>
							</div>
						</div>
						<div class="description">
							<h2 th:text="*{title}">title</h2>
							<p th:text="*{description}">description</p>
						</div>
					</div>
				</li>
			</ul>
		</section>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>