<header th:fragment="header">
   	<nav class="nav nav-pills nav-justified">
  		<a class="nav-link" href="#">Friend's Wishes</a>
  		<a class="nav-link active" href="#">My Wishes</a>
  		<!--  todo: set active dynamic -->
<!--
  		<a class="nav-link" href="#">Short nav links</a>
  		<a class="nav-link" href="#">Longer nav link</a>
  		<a class="nav-link disabled" href="#">Disabled</a>
-->
	</nav>
    <span>Gift Me Five</span>
    <span>M. Mustermann</span>
    <img src="pics/User_account_Login_free_icon_1.png">
    <img src="pics/XBox-Controller.png">
</header>