<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<header th:fragment="navigation"> <!-- (view, myWishlists, thisWishlistId) -->
	<nav
		class="GM5_header_left_nav navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="navbar-brand" href="/">Gift me five</a> <a
					th:class="${view=='newWishlist'} ? 'nav-item nav-link active GM5_header_left_nav_active' : 'nav-item nav-link'"
					th:href="@{/wishlist}">New Wishlist</a>
				<!-- Dropdown for My Wishlists -->
				<div>
					<a
						th:class="(${view=='receiver'} ? 'nav-item nav-link active GM5_header_left_nav_active' : 'nav-item nav-link') + ' dropdown-toggle'"
						data-toggle="dropdown" href="#">My Wishlists</a>
					<div class="dropdown-menu">
						<a th:each="wishlist : ${myWishlists}" th:object="${wishlist}"
							th:class="'dropdown-item' + (*{id}==${thisWishlistId} ? ' active' : ' ')"
							th:text="*{title}" th:href="@{/receiver(id=*{id})}">Ben's
							Xmas</a>
					</div>
				</div>
				<!-- Dropdown for Friend's Wishlists -->
				<a
					th:class="${view=='giver'} ? 'nav-item nav-link active GM5_header_left_nav_active' : 'nav-item nav-link'"
					href="/giver">Friend's Wishlists</a>
				<!-- Dropdown for Admin -->
				<div>
					<!-- class="navbar-nav dropdown " -->
					<a
						th:class="(${view=='admin'} ? 'nav-item nav-link active GM5_header_left_nav_active' : 'nav-item nav-link') + ' dropdown-toggle'"
						href="#" role="button" data-toggle="dropdown">Admin</a>
					<!-- aria-haspopup="true" id="dropdownMenuLink" aria-expanded="false" -->
					<div class="dropdown-menu"> <!-- aria-labelledby="dropdownMenuLink" -->
						<a class="dropdown-item" href="/admin/user">User</a><a
							class="dropdown-item" href="/admin/wish">Wish</a> <a
							class="dropdown-item" href="/admin/wishlist">Wishlist</a> 
					</div>
				</div>
			</div>
		</div>
	</nav>

	<nav class="GM5_header_right_nav">
		<div th:fragment="loginButton" class="btn-group dropleft">
			<button type="button"
				class="GM5login_frame btn btn-secondary dropdown-toggle"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<img th:src="@{/pics/User_account_Login_free_icon_1.png}">
			</button>
			<div class="dropdown-menu">
				<form class="px-4 py-3">
					<div class="form-group">
						<label for="exampleDropdownFormEmail1">Email address</label> <input
							type="email" class="form-control" id="exampleDropdownFormEmail1"
							placeholder="email@example.com">
					</div>
					<div class="form-group">
						<label for="exampleDropdownFormPassword1">Password</label> <input
							type="password" class="form-control"
							id="exampleDropdownFormPassword1" placeholder="Password">
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="dropdownCheck">
						<label class="form-check-label" for="dropdownCheck">
							Remember me </label>
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">New around here? Sign up</a> <a
					class="dropdown-item" href="#">Forgot password?</a>
			</div>
		</div>
	</nav>
</header>
<!--
.navbar-toggler:not(:disabled):not(.disabled)
-->
<!-- 
      			<a class="nav-item nav-link disabled" href="#">Disabled</a>
      			-->