<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Gift Me Five</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
	<header th:replace="header.html :: header">Header</header>
	<section>
		<div>
			<strong>My Friend's Wishes</strong>
			<ul>
				<li>Ben's Xmas</li>
				<li>Jon's Work Anniversary</li>
				<li>Jenny's Silver Wedding</li>
			</ul>
		</div>
		<div>
			<p>Check a checkbox and click ‘Select’ to reserve an item you want to give to your friend.<br>
			Items displayed in gray font have already been selected by other people!</p>
		</div>
	</section>
	<section>
		<h1>My Christmas Wishes</h1>
		<ul>
			<li>
				<h2>X-Box</h2><br>
				1 TB, black, ...(@Amazon)</li>
			<li>
				<h2>Game(s)</h2><br>
				<a href="">Top 10 Games Review</a><br>
			(I already have #1, #3. Don't like #4 and #9)
			</li>
			<li>
				<h2>Controller</h2><br>
				<img src="pics/XBox-Controller.png"></li>
			<li>
				<h2>Money</h2>
			</li>
		</ul>
	</section>
	<footer th:replace="footer.html :: footer">Footer</footer>
	</body>
</html>