<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gift Me Five</title>
<meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
<meta name="viewport"
	content="width=device-width, initial-scale=1 shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/receiverStyle.css">
<style
	th:text="'#GM5wrapper main { background-image: url(' + @{/pics/themes/} + ${wishlist.theme.backgroundPicture} +');}'">
#wishlist_details {
	background-image: url(../pics/christmas-2946698_1920_mod.png);
}
</style>

</head>
<body>
	<header
		th:replace="header.html :: navigation(view='receiver', thisWishlistId=${wishlist.id})">
	</header>
	<div id="GM5wrapper">
		<main>
			<section id="GM5wishlist_control">
				<div class="GM5button_holder">
					<a th:href="@{/wish?wishlistId=} + ${wishlist.id}"
						class="btn btn-success GM5buttonGreen" data-toggle="tooltip"
						data-placement="right" title="Add wish"> <img class="GM5icon"
						th:src="@{/pics/icons/plus_white.png}"></a>
				</div>
				<!-- todo addPerson -->
				<div class="GM5button_holder">
					<a th:href="@{/invite?wishlistId=} + ${wishlist.id}"
						class="btn btn-success GM5buttonGreen" data-toggle="tooltip"
						data-placement="right" title="Invite friend"> <img
						class="GM5icon" th:src="@{/pics/icons/addPerson_white.png}"></a>
				</div>
			</section>
			<div class="GM5spacerLeft"></div>
			<section id="GM5wishlist_details">
				<div class="GM5wishlistBlock">
					<div class="GM5wishlistElement GM5wishlistTitle">
						<h1 th:text="${wishlist.title}">My Christmas Wishes</h1>

						<div class="GM5buttonHolder">
							<!-- Modify wishlist -->
							<a th:href="@{/wishlist(id=${wishlist.id})}"
								class="btn btn-success GM5buttonGreen" data-toggle="tooltip"
								data-placement="top" title="Modify wishlist"> <img
								class="GM5icon" th:src="@{/pics/icons/pen_white.png}">
							</a>
							<!-- Delete wishlist -->
							<a th:href="@{/wishlist/delete(id=${wishlist.id})}"
								class="btn btn-success GM5buttonGreen" data-toggle="tooltip"
								data-placement="right" title="Delete wishlist"
								onclick="if (!(confirm('Are you sure?'))) return false"> <img
								class="GM5icon" th:src="@{/pics/icons/cross2.png}"></a>
						</div>
					</div>

					<ul class="GM5withSideButtons">
						<li th:each="wish : ${wishes}" th:object="${wish}"
							class="GM5wishlistElement">
							<div class="GM5wishlistTitle">
								<h2 th:text="*{title}">title</h2>
								<div class="GM5buttonHolder">
									<!-- Modify wish -->
									<a th:href="@{/wish(id=${wish.id})}"
										class="btn btn-primary GM5button" data-toggle="tooltip"
										data-placement="right" title="Modify wish"> <img
										class="GM5icon" th:src="@{/pics/icons/pen_white.png}">
									</a>
									<!-- Delete wish -->
									<a th:href="@{/wish/delete(id=${wish.id})}"
										class="btn btn-primary GM5button" data-toggle="tooltip"
										data-placement="right" title="Delete wish"
										onclick="if (!(confirm('Are you sure?'))) return false"> <img
										class="GM5icon" th:src="@{/pics/icons/cross2.png}"></a>
								</div>
							</div>
							<p th:text="*{description}">description</p> <img
							class="GM5giftImage"
							th:if="${wish.image != ''} and ${wish.image != null}"
							th:src="@{${'pics/' + wish.image}}" th:title="${wish.image}" />
							<h3>
								<a th:if="${wish.link != ''} and ${wish.link != null}"
									th:href="@{${wish.link}}">Link</a>
							</h3>
						</li>
					</ul>
				</div>
			</section>
			<div class="GM5spacerRight"></div>
		</main>
	</div>
	<footer th:replace="footer.html :: footer">Footer</footer>
</body>
</html>