<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User details</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/loginRegistrationStyle.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div id="GM5wrapper">
		<!-- 	(view='', myWishlists=null, thisWishlistId=null) -->
		<header th:replace="header.html :: navigation"> </header>
		<main>

			<div id="GM5loginForm">

				<h3 th:text="${view} == 'edit' ? 'Edit Profile' : 'Register User'">User/Edit</h3>

				<form action="#" th:action="@{/processRegistrationForm}" th:object="${user}" method="post">
					<input type="hidden" th:field="*{id}">
					<!-- 					<input type="hidden" sec:authorize="isAuthenticated()" th:field="*{email}"> -->
					<table>

						<tr>
							<td>
								<input th:field="*{email}" type="email" placeholder="E-Mail">
							</td>
						</tr>

						<tr>
							<td>
								<input th:value=*{password} id="password" name="password" type="password" onchange="if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password" required="required">
						</tr>

						<tr>
							<td>
								<input th:value=*{password} id="password_two" name="password_two" type="password" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Verify Password" required="required">
							</td>
						</tr>


						<tr>
							<td>
								<input th:field="*{firstname}" type="text" placeholder="First Name">
							</td>
						</tr>


						<tr>
							<td>
								<input th:field="*{lastname}" type="text" placeholder="Last Name">
							</td>
						</tr>

					</table>

					<p></p>
					<div class="GM5button_holder">
						<div id="GM5hideInput">
							<input type="submit" value="" id="password recovery" name="password recovery">
							<label for="password recovery">
								<span class="btn GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="Send">
									<img class="GM5icon" src="/pics/icons/send-white.png" />
								</span>
							</label>
							<input type="reset" value="" id="reset" name="reset">
							<label for="reset">
								<span class="btn GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="Reset">
									<img class="GM5icon" src="/pics/icons/cancel-white.png" />
								</span>
							</label>
							<a sec:authorize="isAuthenticated()" th:href="@{'/delete_profile'}" class="btn btn-success GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="delete profile">
								<img class="GM5icon" th:src="@{/pics/icons/cross2.png}" title="Delete Profile">
							</a>
						</div>
					</div>
				</form>
			</div>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>