<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User details</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/loginRegistrationStyle.css">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div id="GM5wrapper">
		<header
			th:replace="header.html :: navigation(view='', myWishlists=null, thisWishlistId=null)">
		</header>
		<main>

			<div id="GM5loginForm">
				
				<h3>User Edit/Register</h3>

				<form action="#" th:action="@{/processRegistrationForm}"
					th:object="${user}" method="post">
					<table>

						<tr>
							<td><input th:field="*{email}" type="email"
								placeholder="E-Mail"></td>
						</tr>

						<tr>
							<td><input th:value=*{password} id="password"
								name="password" type="password"
								onchange="if(this.checkValidity()) form.password_two.pattern = this.value;"
								placeholder="Password" required="required">
						</tr>

						<tr>
							<td><input th:value=*{password} id="password_two"
								name="password_two" type="password"
								onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
								placeholder="Verify Password" required="required"></td>
						</tr>


						<tr>
							<td><input th:field="*{firstname}" type="text"
								placeholder="First Name"></td>
						</tr>


						<tr>
							<td><input th:field="*{lastname}" type="text"
								placeholder="Last Name"></td>
						</tr>

					</table>

					<p></p>

					<input type="submit" value="Save"> <input type="reset"
						value="Reset" >
				</form>

			</div>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>