<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gift Me Five - Create/Edit Wish</title>
<meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/wishStyle.css">

</head>
<body>
	<div id="GM5wrapper">
		<header th:replace="header.html :: navigation(view='receiver', thisWishlistId=${wish.wishlist.id})"> </header>
		<main>
			<div class="GM5spacer"></div>
			<section>

				<!-- enctype="multipart/form-data" for fileupload -->
				<form enctype="multipart/form-data" method="post" th:action="@{/} + (${uniqueUrlReceiver} != null ? 'public/wish/' +${uniqueUrlReceiver} : 'wish')"  th:object="${wish}">
					<div class="headline_buttons">
						<h1 th:text="(${wish.id} ? 'Update a wish on ' : 'Create a wish on: ') + ${wish.wishlist.title}">My Wish</h1>
						<div id="buttons">
							<div class="GM5button_holder">
								<div id="GM5hideInput">
									<input type="submit" name="submit" value="Show" id="Show">
									<label for="Show">
										<span class="btn btn-primary GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="Show">
											<img class="GM5icon" src="/pics/icons/show_white.png" />
										</span>
									</label>
									<input type="button" value="Cancel" id="Cancel" onclick="history.back()">
									<label for="Cancel">
										<span class="btn btn-primary GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="Cancel">
											<img class="GM5icon" src="/pics/icons/cancel_white.png" />
										</span>
									</label>

								</div>
							</div>
						</div>
					</div>
					<input name="id" th:field="*{id}" type="hidden">
					<input name="wishlistId" th:field="${wish.wishlist.id}" type="hidden">
					<input name="uniqueUrlReceiver" th:field="${wish.wishlist.uniqueUrlReceiver}" type="hidden">
					<label for="wish-title">Short Description:</label>
					<br>
					<input id="wish-title" name="title" placeholder="X-Box One" required th:field="*{title}" type="text"
						class="GM5input">
					<br>
					<label for="wish-description">Additional Information:</label>
					<br>
					<textarea name="description" rows="4" cols="20" th:field="*{description}" class="GM5input">
						I would like to get a really cool game console with a lot of memory blablabla...
					</textarea>
					<br>
					<label for="wish-link">Link:</label>
					<br>
					<input id="wish-link" name="link"
						placeholder="https://www.idealo.de/preisvergleich/OffersOfProduct/3922755_-xbox-one-microsoft.html"
						th:field="*{link}" type="url" class="GM5input">
					<br>
					<!-- New Image Loader -->
					<label for="file-upload">Image:</label><br>
					<label for="file-upload" class="btn GM5buttonGreen" data-toggle="tooltip" data-placement="right"
						title="Image upload">
						<img class="GM5icon" src="/pics/icons/upload_white.png" />
					</label>
					<img id="output" class="GM5giftImage" th:src="(${wish.picture} != null and ${wish.picture.length} > 0) ? @{'/wish/' + *{id} + '/picture'} : @{''}" alt="" th:title="WishImage.jpg" />
					<br>
					<input id="file-upload" type="file" accept="image/*" onchange="loadFile(event)" th:field="*{picture}"
						th:value="*{picture}">
					<script>
						var loadFile = function(event) {
							var output = document.getElementById('output');
							output.src = URL
									.createObjectURL(event.target.files[0]);
						};
					</script>
					<!-- End New Image Loader -->
					<br>
					<label for="wish-price">Estimated Price:</label>
					<br>
					<!-- 					${#numbers.formatDecimal(wish.price, 1, 'COMMA', 2, 'POINT')} -->
					<input id="wish-price" name="price" th:field="*{price}" type="number" step="0.01" min="0" class="GM5input">



				</form>
			</section>
			<div class="GM5spacer"></div>
		</main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>