<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gift Me Five</title>
<meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/wishStyle.css">

</head>
<body>
	<div id="GM5wrapper">
		<header
			th:replace="fragments.html :: navigation(view=(${wishlist.id} == null ? 'newWishlist' : 'wishlist'),
            thisWishlistId=${wishlist.id})">
		</header>

		<!-- Create a wishlist page  -->
		<main>
			<div class="GM5spacer"></div>
			<section>
				<form method="post" th:action="${visibility} == 'public' ? @{/public/wishlist/} + ${wishlist.uniqueUrlReceiver} : @{/wishlist}" th:object="${wishlist}">
					<div class="headline_buttons">
						<h1 th:text="${wishlist.id}==null ? 'Create a wishlist' :
						('Edit ' + ${wishlist.title})">Create a
							wishlist</h1>


						<div id="buttons">
							<div class="GM5button_holder">
								<div id="GM5hideInput">
									<input type="submit" name="submit" value="Show" id="Show">
									<label for="Show">
										<span class="btn GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="Show">
											<img class="GM5icon" src="/pics/icons/show_white.png" />
										</span>
									</label>

									<input type="submit" name="submit" value="Add Wish" id="Add Wish">
									<label for="Add Wish">
										<span class="btn GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="Add Wish">
											<img class="GM5icon" src="/pics/icons/plus_white.png" />
										</span>
									</label>

									<input type="button" value="Cancel" id="Cancel" onclick="history.back()">
									<label for="Cancel">
										<span class="btn GM5buttonGreen" data-toggle="tooltip" data-placement="right" title="Cancel">
											<img class="GM5icon" src="/pics/icons/cancel_white.png" />
										</span>
									</label>

								</div>
							</div>
						</div>
					</div>

					<input name="id" th:field="*{id}" type="hidden">
					<div class="GM5input">
						<label for="wishlist-title">Wishlist title:</label>
						<input placeholder="My cool wishlist" required th:field="*{title}" type="text">
					</div>
					<hr>
					<h4>Select Background:</h4>
					<nav>
						<div class="container-fluid">
							<div class="row">
								<div th:each="theme : ${themes}" th:object="${theme}" class="col-sm-4">
									<input type="radio" name="nav" th:id="'a' + *{id}" th:field="${wishlist.theme.id}" th:value="*{id}">
									<label th:for="'a' + *{id}">
										<img class="img-fluid img-thumbnail" th:src="@{/pics/themes/} + *{backgroundPicture}" alt="theme_background" />
									</label>
								</div>
							</div>
						</div>
					</nav>
				</form>
			</section>
			<div class="GM5spacer"></div>
		</main>

		<footer th:replace="fragments.html :: footer">Footer</footer>
	</div>
</body>
</html>