<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gift Me Five</title>
<meta content="text/html" charset="UTF-8" http-equiv="Content-Type" />
<meta name="viewport"
	content="width=device-width, initial-scale=1 shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/fancyStyle.css">

</head>
<body>

<!-- 	<div class="container"> -->
<!-- 		<h2>Image Gallery</h2> -->
<!-- 		<p>The .thumbnail class can be used to display an image gallery.</p> -->
<!-- 		<p>The .caption class adds proper padding and a dark grey color to -->
<!-- 			text inside thumbnails.</p> -->
<!-- 		<p>Click on the images to enlarge them.</p> -->
<!-- 		<div class="row"> -->
<!-- 			<div class="col-md-4"> -->
<!-- 				<div class="thumbnail"> -->
<!-- 					<a href="/pics/themes/balloon.jpg" target="_blank"> -->
<!-- 						<img src="/pics/themes/balloons.jpg" alt="Lights" -->
<!-- 							style="width: 100%"> -->
<!-- 						<div class="caption"> -->
<!-- 							<p>Lorem ipsum donec id elit non mi porta gravida at eget -->
<!-- 								metus.</p> -->
<!-- 						</div> -->
<!-- 					</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-4"> -->
<!-- 				<div class="thumbnail"> -->
<!-- 					<a href="/w3images/nature.jpg" target="_blank"> -->
<!-- 						<img src="/pics/themes/birthday.jpg" alt="Nature" -->
<!-- 							style="width: 100%"> -->
<!-- 						<div class="caption"> -->
<!-- 							<p>Lorem ipsum donec id elit non mi porta gravida at eget -->
<!-- 								metus.</p> -->
<!-- 						</div> -->
<!-- 					</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-4"> -->
<!-- 				<div class="thumbnail"> -->
<!-- 					<a href="/w3images/fjords.jpg" target="_blank"> -->
<!-- 						<img src="/pics/themes/cake.jpg" alt="Fjords" style="width: 100%"> -->
<!-- 						<div class="caption"> -->
<!-- 							<p>Lorem ipsum donec id elit non mi porta gravida at eget -->
<!-- 								metus.</p> -->
<!-- 						</div> -->
<!-- 					</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="col-md-4"> -->
<!-- 				<div class="thumbnail"> -->
<!-- 					<a href="/w3images/fjords.jpg" target="_blank"> -->
<!-- 						<img src="/pics/themes/celebration.jpg" alt="Fjords" -->
<!-- 							style="width: 100%"> -->
<!-- 						<div class="caption"> -->
<!-- 							<p>Lorem ipsum donec id elit non mi porta gravida at eget -->
<!-- 								metus.</p> -->
<!-- 						</div> -->
<!-- 					</a> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<div class="GM5outer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 no-gutters">
				<img src="/pics/themes/celebration.jpg" alt="Fjords" class="img-fluid img-thumbnail">
			</div>
			<div class="col-sm-4" no-gutters>
				<img src="/pics/themes/cake.jpg" alt="Fjords" class="img-fluid img-thumbnail">
			</div>
			<div class="col-sm-4 no-gutters">
				<img src="/pics/themes/birthday.jpg" alt="Nature" class="img-fluid img-thumbnail">
			</div>
			<div class="col-sm-3  no-gutters">
				<img src="/pics/themes/balloon.jpg" alt="Nature" class="img-fluid img-thumbnail">
			</div>
						<div class="col-sm-3">
				<img src="/pics/themes/egg.jpg" alt="Nature" class="img-fluid img-thumbnail">
			</div>
									<div class="col-sm-3">
				<img src="/pics/themes/flower.jpg" alt="Nature" class="img-fluid img-thumbnail">
			</div>
												<div class="col-sm-3">
				<img src="/pics/themes/spouses.png" alt="Nature" class="img-fluid img-thumbnail">
			</div>
		</div>
	</div>
</div>
</body>