<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gift Me Five - Create/Edit Wish</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="wrapper">
		<header th:replace="header.html :: header">Header</header>
		<main>
		<h1 th:text="${wish.id} ? 'Edit Wish' : 'Create Wish'">My Wish</h1>
		<form method="post" th:action="@{/wish}" th:object="${wish}">
			<input name="id" th:field="*{id}" type="hidden" />
			<label for="wish-title">Short Description:</label>
			<input id="wish-title" name="title" placeholder="X-Box One" required
				th:field="*{title}" type="text" />
			<br> <br>
			<label for="wish-description">Additional Information:</label>
			<input id="wish-description" name="description"
				placeholder="I would like to get a really cool game console with a lot of memory blablabla..."
				th:field="*{description}" type="text" />
			<br> <br>
			<label for="wish-link">Link:</label>
			<input id="wish-link" name="link"
				placeholder="https://www.idealo.de/preisvergleich/OffersOfProduct/3922755_-xbox-one-microsoft.html"
				th:field="*{link}" type="url" />
			<br> <br>
			<label for="wish-image">Image source:</label>
			<input id="wish-image" name="image" placeholder="file://dummy.jpg"
				th:field="*{image}" type="url" />
			<br> <br>
			<input type="submit" value="Submit" />
		</form>
		<br>
		<a href="/">Back to startpage</a> </main>
		<footer th:replace="footer.html :: footer">Footer</footer>
	</div>
</body>
</html>